/* hero */

#hero {
  background-color: var(--beige);
  height: 300vh;
  position: relative;
  overflow: clip;
}

#hero-image {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 0px;
  height: 0px;
  opacity: 0;
  visibility: hidden;
  overflow: clip;
  background-image: url("/assets/rizky-subagja-1k7TnX5GAww-unsplash.jpg");
  background-size: cover;
  background-position: center;
  will-change: width, height, opacity;
}

.hero-content {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 100px;
  position: sticky;
  top: 0;
  width: 100%;
}

#hero-image::before {
  content: "";
  width: 100%;
  height: 100%;
  background-color: rgba(36, 28, 28, var(--overlay-alpha));
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1000;
}

.scroll-container {
  position: relative;
  overflow-x: auto;
  display: flex;
  width: 100%;
  height: fit-content;
  padding-right: 20px;
  position: sticky;
  top: 65vh;
  height: 0;
  overflow: visible;
}

.inner-scroll-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: fit-content;
  flex-shrink: 0;
  color: var(--brown-200);
  opacity: 0.3;
  animation: 12s linear 1s infinite slide-in;
}

.scroll-text {
  font-size: 8rem;
  padding-right: 20px;
  font-weight: 700;
  flex: 0 0 1;
  font-family: "KyivTypeSerif-Regular2";
  text-wrap: balance;
}

.asterisk {
  font-size: 4rem;
  padding: 0 40px 0 30px;
}

@keyframes slide-in {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(-100%);
  }
}

.hero-headline {
  font-size: 72px;
  width: 1200px;
  line-height: 1.1;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  text-align: center;
  color: var(--brown-300);
  z-index: 100;
  font-family: "KyivTypeSerif-Regular2";
  letter-spacing: 0.05em;
}
