/* stacking-cards */

.stacking-cards-container {
  width: 100vw;
  height: 500vh;
  position: relative;
  background-color: var(--brown-200);
}

.stacking-card-wrapper {
  padding: 16px;
  position: sticky;
  top: 0;
}

.stacking-card-wrapper .logo-bg {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  background: var(--white);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.stacking-card-wrapper .logo-bg img {
  width: 80px;
  height: 80px;
  object-fit: contain;
}

.stacking-card-wrapper h1 {
  font-family: "KyivTypeSans-Bold";
  font-size: 80px;
  line-height: 100%;
  text-align: center;
}

.stacking-card-wrapper .card-1 h1 {
  max-width: 720px;
  margin-bottom: 112px;
}

.stacking-card-wrapper .card-2 h1 {
  max-width: 900px;
  margin-bottom: 64px;
}

.stacking-card {
  height: 95vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  overflow: clip;
}

.wrapper-1 {
  top: 0px;
}

.wrapper-2 {
  top: 30px;
}

.wrapper-3 {
  top: 60px;
}

.card-1 {
  background: var(--beige);
  color: var(--brown-200);
  overflow: clip;
  position: relative;
}

.card-2 {
  background: var(--pink);
  color: var(--brown-200);
}

.card-1 .features {
  display: flex;
  justify-content: center;
  gap: 20px;
  max-width: 70vw;
  flex-wrap: wrap;
}

.card-1 .feature {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: center;
  text-align: center;
  width: 316px;
  font-family: "KyivTypeSerif-Regular";
  font-size: 24px;
  line-height: 130%;
  position: relative;
}

.card-1 > img {
  position: absolute;
}

/* card 1 images */

.pot {
  width: 315px;
  height: 394px;
  transform: rotate(35deg) scale(1);
  left: -120px;
  top: 80px;
}

.tool {
  width: 196px;
  height: 482px;
  transform: rotate(-40deg) scale(1);
  left: -90px;
  bottom: 48px;
  z-index: 5;
}

.beans {
  width: 298px;
  height: 518px;
  left: 0px;
  transform: scale(1);
}

.drip-1 {
  width: 315px;
  height: 394px;
  transform: rotate(-35deg) scale(1);
  right: -120px;
  top: 80px;
}

.fine-cup {
  width: 500px;
  transform: rotate(-50deg) scale(1);
  right: -200px;
  top: 280px;
}

.drip-2 {
  width: 315px;
  height: 394px;
  transform: rotate(-60deg) scale(1);
  right: -120px;
  bottom: 20px;
}

/* card 2 images */

.bakery-photos {
  width: fit-content;
  height: 300px;
  display: flex;
  gap: 20px;
  margin-left: 100%;
}

.bakery-photos > div {
  width: 300px;
  flex-basis: content;
  aspect-ratio: 1/1;
}

.bakery-photos .photo {
  background-size: cover;
  background-position: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border: 10px solid white;
  border-bottom: 50px solid white;
}

.bakery-photo-1{
    background-image: url(/assets/gogol-bakery/1.png);
    transform: rotate(5deg);
}

.bakery-photo-2{
    background-image: url(/assets/gogol-bakery/2.jpg);
    transform: rotate(-3deg) translateX(-20px);
}

.bakery-photo-3{
    background-image: url(/assets/gogol-bakery/3.jpg);
    transform: rotate(3deg);
}

.bakery-photo-4{
    background-image: url(/assets/gogol-bakery/4.jpg);
    transform: rotate(15deg) translate(-40px, 30px);
}

.bakery-photo-5{
    background-image: url(/assets/gogol-bakery/5.png);
    transform: rotate(-8deg);
}

.bakery-photo-6{
    background-image: url(/assets/gogol-bakery/6.png);
    transform: rotate(4deg);
}

.bakery-photo-7{
    background-image: url(/assets/gogol-bakery/7.jpg);
    transform: rotate(-8deg) translate(-40px, 30px);
}

.bakery-feature {
  display: flex;
  justify-content: center;
  align-content: center;
  padding: 32px;
}

.bakery-feature p {
  text-align: center;
  height: fit-content;
  font-size: 32px;
  line-height: 130%;
  margin-top: auto;
  margin-bottom: auto;
}

@media (max-width: 1023px) {

  .stacking-card-wrapper .logo-bg {
    width: 104px;
    height: 104px;
  }

  .stacking-card-wrapper .logo-bg img {
    width: 64px;
    height: 64px;
  }

  .stacking-card-wrapper h1 {
    font-size: 64px;
    width: 70vw;
  }
  
  .card-1 .features {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 70vw;
    gap: 20px;
  }

  .card-1 .feature {
    gap: 16px;
    width: 250px;
    font-size: 20px;
  }

  .pot {
    left: -160px;
    top: 24px;
  }

  .tool {
    left: -90px;
    bottom: 24px;
    z-index: 5;
  }

  .beans {
    left: -60px;
  }

  .drip-1 {
    right: -150px;
    top: 40px;
  }

  .fine-cup {
    right: -300px;
    top: 240px;
  }

  .drip-2 {
    right: -180px;
    bottom: 0px;
  }

  .bakery-photos {
    margin-left: 150%;
  }
}


@media (max-width: 768px) {

  .stacking-card-wrapper h1 {
    font-size: 48px;
  }

  .stacking-card-wrapper .card-2 h1 {
    margin-bottom: 160px;
  }
  
  .card-1 .features {
    display: flex;
    justify-content: center;
    gap: 16px;
    flex-wrap: wrap;
  }

  .card-1 .feature {
    gap: 16px;
    width: 220px;
    font-size: 18px;
  }

  .pot {
    transform: rotate(35deg) scale(.7);
    left: -160px;
    top: -32px;
  }

  .tool {
    transform: rotate(-40deg) scale(.7);
    left: -90px;
    bottom: 24px;
    z-index: 5;
  }

  .beans {
    transform: scale(.7);
    left: -80px;
  }

  .drip-1 {
    transform: rotate(-35deg) scale(.7);
    right: -150px;
    top: 150px;
  }

  .fine-cup {
    transform: rotate(-50deg) scale(.7);
    right: -280px;
    top: 240px;
  }

  .drip-2 {
    transform: rotate(-60deg) scale(.7);
    right: -160px;
    bottom: 60px;
  }

  .bakery-photos {
    margin-left: 200%;
  }

  .bakery-feature p {
    font-size: 28px;
  }

}

@media (max-width: 450px) {
  .stacking-card-wrapper h1 {
    font-size: 32px;
  }

  .stacking-card-wrapper .card-1 h1 {
    max-width: 80%;
    margin-bottom: 3vh;
  }

  .stacking-card-wrapper .logo-bg {
    width: 12vh;
    height: 12vh;
    margin-bottom: 14px;
  }

  .stacking-card-wrapper .logo-bg img {
    width: 8vh;
    height: 8vh;
    object-fit: contain;
  }

  .pot {
    transform: rotate(35deg) scale(.5);
    left: -200px;
    top: 0px;
  }

  .tool {
    transform: rotate(-40deg) scale(.5);
    left: -110px;
    bottom: -50px;
    z-index: 5;
  }

  .beans {
    transform: scale(.5);
    left: -120px;
  }

  .drip-1 {
    transform: rotate(-35deg) scale(.5);
    right: -170px;
    top: 30px;
  }

  .fine-cup {
    transform: rotate(-50deg) scale(.5);
    right: -310px;
    top: 100px;
  }

  .drip-2 {
    transform: rotate(-60deg) scale(.5);
    right: -180px;
    bottom: -60px;
  }

  .card-1 .feature {
    gap: 12px;
    width: 230px;
    font-size: 16px;
  }

  .card-1 .feature img {
    width: 56px;
    height: 56px;
  }

  .stacking-card-wrapper .card-2 h1 {
    max-width: 90%;
    margin-bottom: 5vh;
  }
  
  .bakery-photos > div {
    width: 200px;
    height: 200px;
  }

  .bakery-photos .photo {
    border: 6px solid white;
    border-bottom: 28px solid white;
  }

  .bakery-feature p {
    font-size: 20px;
  }

}